.expandable-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.expandable-content.expanded {
  grid-template-rows: 1fr;
}

.expandable-content > div {
  overflow: hidden;
}
