.expandable {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

.expandable.expanded {
  grid-template-rows: 1fr;
}

.expandable > div {
  overflow: hidden;
}
