.info-card {
  --edifice-info-card-before-background: var(--edifice-blue-300);
  --edifice-info-card-background: var(--edifice-white);

  position: relative;
  margin-left: 1.6rem;
  box-shadow: 0px 0px 6px 0px #00000033;
  border-top-left-radius: var(--edifice-border-radius-2xl);
  border-top-right-radius: var(--edifice-border-radius-2xl);
  border-bottom-right-radius: var(--edifice-border-radius-2xl);
  border-bottom-left-radius: 0;
}

.info-card::before {
  content: '';
  position: absolute;
  top: 100px;
  left: -1.6rem;
  bottom: 0%;
  width: 1.6rem;
  z-index: 1;
  background-color: var(--edifice-info-card-before-background);
  border-top-left-radius: 4.8rem;
  border-bottom-left-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  box-shadow: inset -4px -3px 6px 0px #00000033;
}

.info-card::after {
  content: '';
  position: absolute;
  left: -0.8rem;
  bottom: 0px;
  width: 0.9rem;
  height: 24px;
  z-index: 0;
  background-color: var(--edifice-info-card-background);
  border-top-left-radius: 2.4rem;
  box-shadow: -3px 0px 3px 0px #00000033;
}
